/*Main lehe css. Mäelta vanasõna: "If it aint broke, don't fix it"*/
body {
    font-family: "Roboto", sans-serif;
}
/*Sissejuhatav pilt ja ka top 1 põhjus, miks elada ei soovi hetkel. float võib perse käia, elagu flex*/
.pilt {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 125vh;
    height: auto;
}
.pilt::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    z-index: 2;
    background: linear-gradient(to bottom, transparent, #EDEADE);
    pointer-events: none;

}
.pilt img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.pilt_tekst {
    position: relative;
    z-index: 1;
    text-align: center;
    text-shadow: 4px 4px 8px #000;
    padding: clamp(0.5rem, 2vw, 2rem);
    max-width: 95%;
    word-wrap: break-word;
    transform: translateY(-30%);
}
.pilt_tekst p {
    color: #fff;
}
.pea_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.keskel {
    font-size: clamp(2.5rem, 8vw, 7rem);
}
.keskel2 {
    font-size: clamp(1rem, 2vw, 3rem);
    margin: 10px;
}
@media (max-width: 768px) {
    .keskel {
        font-size: clamp(2rem, 10vw, 5rem);
    }
    .keskel2 {
        font-size: clamp(0.9rem, 4vw, 1.5rem);
    }
    .pilt_tekst {
        padding: clamp(0.3rem, 2vw, 1rem);
        transform: translateY(-30%);
    }
}

/*Div ja article - bread and butter. Natuke vähem enesetappu tekitav, aga siiski polnud kõige toredam. Tavaline on mobiil versioon @media-ga tehtud desktop*/

.tekst {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    min-height: 80vh;
    height: auto;
    padding-top: 5vh;
    margin-bottom: 40vh;
}
.tekst.reverse {
    flex-direction: row-reverse;
}
.tekst_korval {
    flex: 55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    padding: 0 clamp(0.5rem, 5vw, 1rem) clamp(0.5rem, 5vw, 1.5rem);
}
.tekst_korval h2 {
    align-self: center;
    font-size: clamp(2.5rem, 5vw, 4rem);
    padding: 0 0 clamp(1rem, 5vw, 1.5rem);
}
.tekst_korval h3 {
    align-self: center;
    color: gray;
    font-size: clamp(1rem, 3vw, 1.2rem);
}
.tekst_korval p {
    padding: clamp(1rem, 5vw, 2.5rem) 0;
    text-align: justify;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    hyphens: auto;
}
.tekst aside {
    display: flex;
    flex-direction: column;
    flex: 45;
    align-items: center;
    justify-content:center;
}
.tekst aside img {
    width: 80%;
    height: 90%;
    object-fit: cover;
    border-radius: 30px;
}
.tekst aside p {
    font-size: clamp(0.4rem, 3vw, 1rem);
    padding-top: clamp(0.5rem, 2vw, 1rem);
    text-align: center;
    color: gray;
    max-width: 80%;
}
.tekst aside a {
    text-decoration: none;
    color: gray;
}
.tekst aside a:hover {
    text-decoration: underline;
}

/*Sülearvuti*/
@media (max-width: 1450px) and (min-width: 769px) {
    .tekst_korval {
        padding: 0 clamp(0.8rem, 4vw, 1.8rem) clamp(0.5rem, 5vw, 1.5rem);
    }
    .tekst_korval h2 {
        align-self: center;
        font-size: clamp(1.5rem, 5vw, 3rem);
        padding: clamp(1.5rem, 5vw, 3.5rem) 0 clamp(1rem, 5vw, 1.5rem);
    }
    .tekst_korval h3 {
        align-self: center;
        color: gray;
        font-size: clamp(0.8rem, 3vw, 1.3rem);
    }
    .tekst_korval p {
        padding: clamp(1rem, 5vw, 2rem) 0 0;
        text-align: justify;
        font-size: clamp(0.7rem, 5vw, 1.2rem);
        hyphens: auto;
    }
    .tekst aside img {
        width: 80%;
        height: 70%;
    }
}
/*Mobiil */
@media (max-width: 768px) {
    .tekst {
        flex-direction: column;
        min-height: auto;
    }
    .tekst.reverse {
        flex-direction: column;
        min-height: auto;
    }
    .tekst_korval {
        padding: 0 clamp(0.5rem, 5vw, 1.5rem) clamp(0.5rem, 5vw, 1.5rem);
    }
    .tekst_korval h2 {
        align-self: center;
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        padding: clamp(1.5rem, 5vw, 3.5rem) 0 0;
    }
    .tekst_korval p {
        padding: clamp(0.5rem, 3vw, 1.5rem) 0 0;
        text-align: justify;
        font-size: clamp(0.9rem, 5vw, 1.2rem);
    }
    .tekst aside img {
    width: 60%;
    height: 70%;
    }
}
.toit {
    display: flex;
    width: 100%;
    min-height: 90vh;
    height: auto;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.toit_konteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    aspect-ratio: 1;
    position: relative;
    --raadius-start: 29vw;
    --raadius-lõpp: 24vw;
}
.toit_vorming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 65%;
    border-radius: 45%;
    padding: clamp(2rem, 5vw, 4rem);
    z-index: 5;
}
.toit_vorming h2 {
    color: whitesmoke;
    text-align: center;
    font-size: clamp(1rem, 5vw, 3rem);
    padding: 0 clamp(0.3rem, 4vw, 0.6rem) clamp(0.8rem, 5vw, 1.5rem);
}
.toit_vorming h3 {
    text-align: center;
    color: gray;
    font-size: clamp(0.8rem, 5vw, 1.8rem);
}
.toit_vorming p {
    padding: clamp(1rem, 5vw, 1.5rem) 0;
    text-align: justify;
    hyphens: auto;
    font-size: clamp(0.7rem, 3vw, 1.3rem);
    color: whitesmoke;
}

.toit_pilt {
    --kogus: 8;
    --nurk: calc(360deg / var(--kogus) * var(--indeks));
    position: absolute;
    top: 50%;
    left: 50%;
    width: clamp(2rem, 7vw, 5rem);
    height: clamp(2rem, 7vw, 5rem);
    object-fit: contain;
    opacity: 0;
    aspect-ratio: 1;
    transition: transform 1s ease-out, opacity 1s ease-out;

    transform: 
        rotate(calc(var(--nurk))) 
        translateY(calc(var(--raadius-start) * -1)) 
        rotate(calc(var(--nurk) * -1))
        translate(-50%, -50%);
}
.toit_konteiner.in-view .toit_pilt {
    opacity: 1;
    transform: 
        rotate(calc(var(--nurk))) 
        translateY(calc(var(--raadius-lõpp) * -1)) 
        rotate(calc(var(--nurk) * -1))
        translate(-50%, -50%);
    transition-delay: calc(0.5s * var(--indeks));
}
.toit_pilt:nth-child(1) {--indeks: 0;}
.toit_pilt:nth-child(2) {--indeks: 1;}
.toit_pilt:nth-child(3) {--indeks: 2;}
.toit_pilt:nth-child(4) {--indeks: 3;}
.toit_pilt:nth-child(5) {--indeks: 4;}
.toit_pilt:nth-child(6) {--indeks: 5;}
.toit_pilt:nth-child(7) {--indeks: 6;}
.toit_pilt:nth-child(8) {--indeks: 7;}

/*Sülearvuti*/
@media (max-width: 1450px) and (min-width: 769px) {
    .toit_konteiner {
        --raadius-start: 34vw;
        --raadius-lõpp: 26vw;
    }
    .toit_vorming h2 {
        font-size: clamp(1.2rem, 5vw, 2rem);
    }
    .toit_vorming h3 {
        font-size: clamp(0.8rem, 3vw, 1.3rem);
    }
    .toit_vorming p {
        font-size: clamp(0.6rem, 4vw, 1rem);
    }
}
/*Mobiil*/
@media (max-width: 768px) {
    .toit_konteiner {
        width: 80vw;
        --raadius-start: 40vw;
        --raadius-lõpp: 35vw;
    }
    .toit_pilt{
        width: clamp(2rem, 10vw, 3.5rem);
        height: clamp(2rem, 10vw, 3.5rem);
    }
    .toit_vorming {
        width: 70%;
        height: 70%;
        padding: clamp(1rem, 5vw, 2rem);
    }
    .toit_vorming h2 {
    color: whitesmoke;
    text-align: center;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    padding: 0 clamp(0.1rem, 4vw, 0.3rem) clamp(0.7rem, 4vw, 1rem);
}
    .toit_vorming h3 {
        text-align: center;
        color: gray;
        font-size: clamp(0.8rem, 5vw, 1.2rem);
    }
    .toit_vorming p {
    padding: clamp(0.8rem, 5vw, 1.5rem) 0;
    text-align: justify;
    font-size: clamp(0.7rem, 3vw, 1rem);
    }
}
/*Eirit väiksed ekraanid*/
@media (max-width: 568px) {
    .toit_konteiner {
        width: 80vw;
        --raadius-start: 60vw;
        --raadius-lõpp: 50vw;
    }
    .toit_konteiner .toit_pilt:nth-child(3),
    .toit_konteiner .toit_pilt:nth-child(7) {
        display: none;
    }
    .toit_pilt{
        width: clamp(2rem, 10vw, 3.5rem);
        height: clamp(2rem, 10vw, 3.5rem);
    }
    .toit_vorming {
        width: 70%;
        height: 70%;
        padding: clamp(1rem, 5vw, 2rem);
    }
}
/*Tausta seaded*/
.taust-gradient {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    height: auto;
}
.t1 {
    background: linear-gradient(
    to bottom,
    #EDEADE 0%,
    #EDEADE 75%,
    #fcba70 100%
    );
}
.t2 {
    background: linear-gradient(
    to bottom,
    #fcba70 0%,
    #fcba70 75%,
    #B2AC88 100%
    );
}
.t3 {
    background: linear-gradient(
    to bottom,
    #B2AC88 0%,
    #B2AC88 75%,
    #36454F 100%
    );
}
.t4 {
    background: linear-gradient(
    to bottom,
    #36454F 0%,
    #36454F 75%,
    #0a0913 100%
    );
}
.t5 {
    background: linear-gradient(
    to bottom,
    #0a0913 0%,
    #0a0913 75%,
    #0a0913 100%
    );
}



/*Animatsioonid lehel*/
.lenda_paremalt {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1.7s ease-out;
}
.lenda_paremalt.in-view {
    opacity: 1;
    transform: translateX(0%);
}
.lenda_vasakult {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.7s ease-out;
}
.lenda_vasakult.in-view {
    opacity: 1;
    transform: translateX(0%);
}
.lenda_ülevalt_hero {
    opacity: 0;
    transform: translateY(-150%);
    transition: all 2s ease;
}
.lenda_ülevalt_hero.in-view {
    opacity: 1;
    transform: translateY(-30%);
}