body {
    font-family: "Roboto", sans-serif;
}
/*Sissejuhatav pilt ja ka top 1 põhjus, miks elada ei soovi hetkel. float võib perse käia, elagu flex*/
.pilt {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 125vh;
    min-height: 400px;
}
.pilt::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    z-index: 2;
    background: linear-gradient(to bottom, transparent, whitesmoke);
    pointer-events: none;

}
.pilt img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.pilt_tekst {
    position: relative;
    z-index: 1;
    text-align: center;
    text-shadow: 4px 4px 8px #000;
    padding: 20px;
    max-width: 95%;
    word-wrap: break-word;
    transform: translateY(-30%);
}
.pilt_tekst p {
    color: #fff;
}
.pea_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.keskel {
    font-size: clamp(48px, 8vw, 128px);
}
.keskel2 {
    font-size: clamp(18px, 2vw, 36px);
    margin: 10px;
}
@media (max-width: 768px) {
    .keskel {
        font-size: clamp(32px, 10vw, 64px);
    }
    .keskel2 {
        font-size: clamp(14px, 4vw, 24px);
    }
    .pilt_tekst {
        padding: 10px;
        transform: translateY(-30%);
    }
}

/*Section ja article - bread and butter. Natuke vähem enesetappu tekitav, aga siiski polnud kõige toredam*/

.tekst {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.tekst_korval {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.tekst_korval h2 {
    align-self: center;
    padding: 50px 15px 15px;
}
.tekst_korval p {
    padding: 30px;
    text-align: center;
    font-size: 18px;
}
.tekst aside {
    flex: 1;
    align-content: center;
    justify-items:center
}
.tekst aside img {
    width: 75%;
    height: 90%;
    object-fit: cover;
    border-radius: 30px;
}
@media (max-width: 768px) {
    .tekst {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .tekst, .tekst_korval {
        flex: none;
        width: 100%;
    }
    .tekst aside {
        width: 100%;
        height: auto;
    }
}
.animatsioon_lenda_paremalt {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease-out;
}
.animatsioon_lenda_paremalt.in-view {
    opacity: 1;
    transform: translateX(0%);
}