body {
    font-family: "Roboto", sans-serif;
}
/*Sissejuhatav pilt ja ka top 1 põhjus, miks elada ei soovi hetkel. float võib perse käia, elagu flex*/
.pilt {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 125vh;
    min-height: 400px;
}
.pilt::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    z-index: 2;
    background: linear-gradient(to bottom, transparent, #EDEADE);
    pointer-events: none;

}
.pilt img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.pilt_tekst {
    position: relative;
    z-index: 1;
    text-align: center;
    text-shadow: 4px 4px 8px #000;
    padding: 20px;
    max-width: 95%;
    word-wrap: break-word;
    transform: translateY(-30%);
}
.pilt_tekst p {
    color: #fff;
}
.pea_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.keskel {
    font-size: clamp(48px, 8vw, 128px);
}
.keskel2 {
    font-size: clamp(18px, 2vw, 36px);
    margin: 10px;
}
@media (max-width: 768px) {
    .keskel {
        font-size: clamp(32px, 10vw, 64px);
    }
    .keskel2 {
        font-size: clamp(14px, 4vw, 24px);
    }
    .pilt_tekst {
        padding: 10px;
        transform: translateY(-30%);
    }
}

/*Section ja article - bread and butter. Natuke vähem enesetappu tekitav, aga siiski polnud kõige toredam. Tavaline on mobiil versioon @media-ga tehtud desktop*/

.tekst {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 5vh;
}
.tekst_korval {
    flex: 55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}
.tekst_korval h2 {
    align-self: center;
    font-size: 35px;
    padding: 50px 15px 15px;
}
.tekst_korval h3 {
    align-self: center;
    color: gray;
}
.tekst_korval p {
    padding: 15px;
    text-align: justify;
    font-size: 16px;
}
.tekst aside {
    flex: 45;
    align-content: center;
    justify-items:center;
}
.tekst aside img {
    width: 60%;
    height: 70%;
    object-fit: cover;
    border-radius: 30px;
}
/*Desktop on min-width*/
@media (min-width: 768px) {
    .tekst {
        flex-direction: row;
        height: 80vh;
    }
    .tekst.reverse {
        flex-direction: row-reverse;
        height: 80vh;
    }
    .tekst_korval h2 {
        align-self: center;
        font-size: 50px;
        padding: 50px 15px 15px;
    }
    .tekst_korval p {
        padding: 30px 0px;
        text-align: center;
        font-size: 26px;
    }
    .tekst aside img {
    width: 80%;
    height: 90%;
    object-fit: cover;
    border-radius: 30px;
    }
}
.toit {
    display: flex;
    width: 100%;
    height: 140vh;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.toit_konteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Tausta seaded*/
.taust-gradient {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 140vh;
}
.t1 {
    background: linear-gradient(
    to bottom,
    #EDEADE 0%,
    #EDEADE 75%,
    #fcba70 100%
    );
}
.t2 {
    background: linear-gradient(
    to bottom,
    #fcba70 0%,
    #fcba70 75%,
    #B2AC88 100%
    );
}
.t3 {
    background: linear-gradient(
    to bottom,
    #B2AC88 0%,
    #B2AC88 75%,
    #36454F 100%
    );
}
.t4 {
    background: linear-gradient(
    to bottom,
    #36454F 0%,
    #36454F 75%,
    #0a0913 100%
    );
}
.t5 {
    background: linear-gradient(
    to bottom,
    #0a0913 0%,
    #0a0913 75%,
    #0a0913 100%
    );
}
/*Animatsioonid lehel*/
.lenda_paremalt {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1.7s ease-out;
}
.lenda_paremalt.in-view {
    opacity: 1;
    transform: translateX(0%);
}
.lenda_vasakult {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.7s ease-out;
}
.lenda_vasakult.in-view {
    opacity: 1;
    transform: translateX(0%);
}
.lenda_ülevalt_hero {
    opacity: 0;
    transform: translateY(-150%);
    transition: all 2s ease;
}
.lenda_ülevalt_hero.in-view {
    opacity: 1;
    transform: translateY(-30%);
}